{% extends 'exams/adminbase.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/admin_teacher.css' %}">


<div class="container"> 
    <div class="courses-container">
        <div class="course-card">
            <div class="course-info">
                <h2>Add Courses</h2>
                <p><i class="fas fa-plus f-left"></i></p>
                <button><a href="admin-add-course">Add</a></button>

            </div>
            
        </div>
        <div class="course-card">
            <div class="course-info">
                <h2>View Courses</h2>
                <p><i class="fas fa-eye f-left"></i></p>
                <button><a href="admin-view-course">View</a></button>


            </div>
            
        </div>    
    </div>

{% endblock %}