{% extends 'exams/adminbase.html' %} {% block content %}
<div class="max-w-6xl mx-auto px-4 py-6">
  <div class="bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-6">Questions</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="bg-gray-50 p-4 rounded-lg shadow-sm">
        <h2 class="text-xl font-semibold mb-4">Add Questions</h2>
        <a
          href="admin-add-question"
          class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
          >Add</a
        >
      </div>
      <div class="bg-gray-50 p-4 rounded-lg shadow-sm">
        <h2 class="text-xl font-semibold mb-4">View Questions</h2>
        <a
          href="admin-view-question"
          class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
          >View</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
