{% extends 'exams/adminbase.html' %} {% block content %}
<div class="max-w-6xl mx-auto px-4 py-6">
  <div class="bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-6">Students</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div class="bg-gray-50 p-4 rounded-lg shadow-sm">
        <h2 class="text-xl font-semibold mb-4">Students</h2>
        <p class="text-gray-600">
          Total registered students - {{total_student}}
        </p>
        <a
          href="admin-view-student"
          class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
          >View Students</a
        >
      </div>
      <div class="bg-gray-50 p-4 rounded-lg shadow-sm">
        <h2 class="text-xl font-semibold mb-4">Student Marks</h2>
        <p class="text-gray-600">Student's marks</p>
        <a
          href="admin-view-student-marks"
          class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
          >View Marks</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
