{% extends 'exams/adminbase.html' %} {% block content %}
<div class="max-w-6xl mx-auto px-4 py-6">
  <div class="bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-6">Teacher's Salary</h1>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white">
        <thead>
          <tr>
            <th class="py-2 px-4 border-b">Name</th>
            <th class="py-2 px-4 border-b">Photo</th>
            <th class="py-2 px-4 border-b">Phone Number</th>
            <th class="py-2 px-4 border-b">Salary</th>
          </tr>
        </thead>
        <tbody>
          {% for t in teachers %}
          <tr>
            <td class="py-2 px-4 border-b">{{t.get_name}}</td>
            <td class="py-2 px-4 border-b"></td>
            <td class="py-2 px-4 border-b">{{t.mobile}}</td>
            <td class="py-2 px-4 border-b">{{t.salary}}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4" class="py-2 px-4 border-b text-center">
              There are no salary yet.
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
