{% extends 'exams/adminbase.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/admin_view_student.css' %}">

<div class="content-wrapper">
    <div class="content-header">
        <h1 class="title">Registered Students</h1>
        <div class="update-info">
            

        </div>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions  <i class="fa fa-eye"></i></th>

                </tr>
            </thead>
            <tbody>
                {% for t in students %}
                <tr>
                    <td>{{t.get_name}}</td>                
                    <td class="actions">                        
                        
                        <a class="btn-delete" href="{% url 'admin-view-marks' t.id  %}">View Marks
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">There are no marks yet.</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>





{% endblock %}