{% extends 'exams/adminbase.html' %} {% block content %}
<div class="max-w-6xl mx-auto px-4 py-6">
  <div class="bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-6">Enter Salary Amount</h1>
    <form method="POST" autocomplete="off" class="space-y-4">
      {% csrf_token %}
      <div class="space-y-2">
        <div>
          <label class="text-gray-600">Salary (per month)</label>
          <input
            type="text"
            id="salary"
            name="salary"
            required
            class="w-full p-2 border rounded"
          />
        </div>
      </div>
      <button
        type="submit"
        class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
      >
        Approve
      </button>
    </form>
  </div>
</div>
{% endblock %}
