{% extends 'exams/adminbase.html' %} {% block content %}
<div class="max-w-6xl mx-auto px-4 py-6">
  <div class="bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-6">Update Student</h1>
    <form
      method="post"
      autocomplete="off"
      enctype="multipart/form-data"
      class="space-y-4"
    >
      {% csrf_token %}
      <div class="space-y-2">
        <div>
          <label class="text-gray-600">First Name</label>
          <input
            type="text"
            id="first_name"
            name="first_name"
            required
            class="w-full p-2 border rounded"
          />
        </div>
        <div>
          <label class="text-gray-600">Last Name</label>
          <input
            type="text"
            id="last_name"
            name="last_name"
            required
            class="w-full p-2 border rounded"
          />
        </div>
        <div>
          <label class="text-gray-600">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            required
            class="w-full p-2 border rounded"
          />
        </div>
        <div>
          <label class="text-gray-600">Student ID</label>
          <input
            type="text"
            id="student_id"
            name="student_id"
            required
            class="w-full p-2 border rounded"
          />
        </div>
        <div>
          <label class="text-gray-600">Phone</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            required
            class="w-full p-2 border rounded"
          />
        </div>
        <div>
          <label class="text-gray-600">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            required
            class="w-full p-2 border rounded"
          />
        </div>
      </div>
      <button
        type="submit"
        class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
      >
        Update
      </button>
    </form>
  </div>
</div>
{% endblock %}
