[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
pillow = "*"
django-widget-tweaks = "*"
django-debug-toolbar = "*"
requests = "*"
openai = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
