{% extends 'students/studentbase.html' %}
{% block content %}
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/student_exam.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Start Exam</title>
    <link rel="stylesheet" href="{% static 'css/start_exam.css' %}">
</head>

<body>
    <div class="container">
        <h1>Start Exam</h1>
        <form class="quiz-form" autocomplete="off" onsubmit="return saveAns()" action="/students/calculate-marks" method="POST">
            {% csrf_token %}
            {% for q in questions %}
            <div class="question">
                <p>
                <span class="question-number">{{ forloop.counter }}.</span>
                {{ q.question }}
                </p>
                {% if q.picture %}
                <div>
                    <img src="{{ q.picture }}" alt="Question Image" class="question-image">
                </div>
                {% endif %}
                <div class="col-auto">
                <h4 style="text-align: right;">{{q.marks}} Marks</h4>
                </div>
                {% comment %} <input type="hidden" name="csrfmiddlewaretoken" value="C24rUotmdHawVQJL3KrqiWxvti8UffOFYUc8TRbZtLt36AVLdP3jbkzUVe3beRAa"> {% endcomment %}

                <input type="radio" name="question_{{ forloop.counter }}" id="option1_{{ forloop.counter }}" value="Option1">
                <label for="option1_{{ forloop.counter }}">{{ q.option1 }}</label>
                <input type="radio" name="question_{{ forloop.counter }}" id="option2_{{ forloop.counter }}" value="Option2">
                <label for="option2_{{ forloop.counter }}">{{ q.option2 }}</label>
                <input type="radio" name="question_{{ forloop.counter }}" id="option3_{{ forloop.counter }}" value="Option3">
                <label for="option3_{{ forloop.counter }}">{{ q.option3 }}</label>
                <input type="radio" name="question_{{ forloop.counter }}" id="option4_{{ forloop.counter }}" value="Option4">
                <label for="option4_{{ forloop.counter }}">{{ q.option4 }}</label>
                </div>
            {% endfor %}
            <input type="submit" value="Submit Answers" class="button-style">
        </form>
    </div>
</body>
<script>
    function saveAns() {
        const questions = document.querySelectorAll('.question');
        questions.forEach((question, index) => {
            const name = `question_${index + 1}`;
            const selectedOption = document.querySelector(`input[name="${name}"]:checked`);
            if (selectedOption) {
                const value = selectedOption.value;
                document.cookie = `${index + 1}=${value}; path=/`;
            }
        });
        return true; // Proceed with form submission
    }
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    
</script>
</html>
{% endblock %}