{% extends 'students/studentbase.html' %} {% block content %}
<div class="max-w-6xl mx-auto px-4 py-6">
  <div class="bg-white p-6 rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-6">{{ course.course_name }} Exam</h1>
    <p class="text-gray-600 mb-4">
      Please read the instructions carefully before starting the exam.
    </p>
    <div class="space-y-4">
      <div class="flex items-center space-x-2">
        <i class="fas fa-file-alt text-gray-600"></i>
        <p class="text-gray-700">Format: Multiple Choice</p>
      </div>
      <div class="flex items-center space-x-2">
        <i class="fas fa-calculator text-gray-600"></i>
        <p class="text-gray-700">You may have to use a scientific calculator</p>
      </div>
      <div class="flex items-center space-x-2">
        <i class="fas fa-bell text-gray-600"></i>
        <p class="text-gray-700">
          You will be able to view marks immediately once after you submit the
          answer.
        </p>
      </div>
    </div>
    <div class="mt-6">
      <h3 class="text-xl font-semibold mb-2">Details</h3>
      <ul class="list-disc list-inside text-gray-700">
        <li>Course : <b>{{course.course_name}}</b></li>
        <li>Teacher: <b>{{ teacher_name }}</b></li>
        <li>Total Question : <b>{{course.question_number}}</b></li>
        <li>Total Marks : <b>{{course.total_marks}}</b></li>
        <li>Credit : <b>{{course.credit}}</b></li>
      </ul>
    </div>
    <div class="mt-6">
      <h3 class="text-xl font-semibold mb-2">Support</h3>
      <p class="text-gray-700">
        If you have any questions or need assistance, please contact the exam
        teacher.(<b>@{{course.creator.username}}</b>).
      </p>
    </div>
    <div class="mt-6">
      <a
        href="{% url 'start-exam' course.id  %}"
        class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
        >Start Exam</a
      >
    </div>
  </div>
</div>
{% endblock %}
