{% extends 'chat/base.html' %}

{% block title %}Reply to Post{% endblock %}

{% block content %}
<div class="p-4">
    <h1 class="text-2xl font-semibold">Reply to Post</h1>
    <hr class="border-gray-600 my-4">
    <div class="p-4 mb-4 bg-blue-800 rounded-lg">
        <h2 class="text-xl font-bold">{{ post.title }}</h2>
        <p>{{ post.body }}</p>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-blue-400 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">Reply</button>
    </form>
</div>
{% endblock %}
