{% load static %}

<aside
  class="fixed inset-y-0 left-0 bg-white text-black flex flex-col p-2 border-r border-gray-200 transition-all duration-300 ease-in-out xl:w-64 w-16 overflow-hidden hover:w-64 z-10"
>
  <div class="p-2">
    <a
      href="{% url 'post_list' %}"
      class="flex items-center justify-center xl:justify-start text-3xl text-blue-400 mb-4"
    >
      <img
        src="{% static 'images/logo.jpg' %}"
        alt="logo"
        class="w-9 h-9 xl:mr-3"
      />
      <span class="hidden xl:inline ml-2">Didattica</span>
    </a>
    <nav>
      <ul class="space-y-6">
        <li>
          <a
            href="{% url 'post_list' %}"
            class="flex items-center text-xl text-gray-900 hover:text-blue-400 transition duration-200"
          >
            <i class="fas fa-home w-7 h-7 xl:mr-3"></i>
            <span class="hidden xl:inline">Home</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center text-xl text-gray-900 hover:text-blue-400 transition duration-200"
          >
            <i class="fas fa-envelope w-7 h-7 xl:mr-3"></i>
            <span class="hidden xl:inline">Messages</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center text-xl text-gray-900 hover:text-blue-400 transition duration-200"
          >
            <i class="fas fa-bookmark w-7 h-7 xl:mr-3"></i>
            <span class="hidden xl:inline">Bookmarks</span>
          </a>
        </li>
        <li>
          <a
            href="#"
            class="flex items-center text-xl text-gray-900 hover:text-blue-400 transition duration-200"
          >
            <i class="fas fa-users w-7 h-7 xl:mr-3"></i>
            <span class="hidden xl:inline">Communities</span>
          </a>
        </li>
        <li>
          <a
            href="{% url 'api_keys' %}"
            class="flex items-center text-xl text-gray-900 hover:text-blue-400 transition duration-200"
          >
            <i class="fas fa-key w-7 h-7 xl:mr-3"></i>
            <span class="hidden xl:inline">API Keys</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
