@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.content-wrapper {
    padding: 24px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.update-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    width: 16px;
    height: 16px;
}

.table-container {
    margin-top: 16px;
    border-top: 1px solid #e2e8f0;
    overflow: auto;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #e2e8f0;
}

th {
    font-weight: 600;
    color: #000000;
}

tbody tr:hover {
    background-color: #f0f0f0;
}
.actions a {
    display: inline-block;
    margin-right: 8px;
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 8px; /* Keeps the 0% border-radius as specified */
    cursor: grab;
}

/* Default styles for buttons (apply to all screen sizes) */
.btn-edit {
  background-color: rgb(5, 158, 0); /* Bootstrap primary color for .btn-edit */
}
.btn-delete {
  /* Existing styles you provided */
  background-color: #000000; /* Bootstrap primary color for .btn-edit */
  /* Bootstrap danger color for .btn-delete */
}

/* Styles for screens smaller than 576px */
@media screen and (max-width: 575px) {
  .btn-edit {
    background-color: rgb(5, 158, 0); 
    margin-bottom: 9px;
  }
  .btn-delete {
    /* Bootstrap primary color for .btn-edit */
    background-color: #000000;
    margin: auto;
  }
}

.actions a small {
    font-size: 0.875em; /* Adjust based on your design */
}
