@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
.body {
  font-style: "Space Grotesk", sans-serif;
}

.form-container {    
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .form-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .form-container .form-group label {
    display: block;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
    font-weight: bolder;
  }
  
  .form-container .form-group input,
  .form-container .form-group select,
  .form-container .form-group textarea { /* If you have textarea fields */
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 9px;
    font-size: 15px;
  }
  
  .form-container .form-group input[type="file"] { /* Style adjustments for file input */
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #eee; /* To indicate file input area */
    border-radius: 12px;
    margin-bottom: 16px;
    cursor: grab;
  }
  
  .form-container button[type="submit"] {    
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #000000;
    color: #fff;
    border: solid;
    border-radius: 14px;
    cursor: grab;
    font-size: 16px;
    font-weight: bolder;
  }
  
  .form-container button[type="submit"]:hover {
    background-color: #ffffff;
    color: #000;
  }
  