

.courses-container {
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns layout */
    gap: 20px;
    padding: 50px;
    justify-content: center;
}

.course-card {
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 10px;
    
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.course-info {
    padding: 20px;
}

.course-info h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.course-info p {
    font-size: 1em;
    color: #666666;
    margin-bottom: 20px;
}

button {
    font-family: 'Inter', sans-serif;
    background: #000000;
    font-weight: bolder;
    color: white;
    border-radius: 12px;
    margin-left: 8px;
    padding: 10px;
    cursor: grab;
   
}

button:hover {
    background: #ffffff;
    color: #000000;
    font-weight: bolder;
}

.course-image {
    height: 100px; /* Adjust height as needed */
    background: #cccccc; /* Placeholder for the image */
}
.no-courses-message {
    text-align: center;
    padding: 20px;
    font-size: 2.0em;
    justify-content: center;
}
button a {
    color: inherit;
    text-decoration: none;
    cursor: grab;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .course-card {
        width: 99%; /* Adjust width for small screens */
        
    }
    .courses-container {
        grid-template-columns: 1fr;
        flex-direction: column;
        align-items: center; /* One column on small screens */
        justify-content: center;
        
    }
    
}